spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/doclarify
    username: doclarify
    password: doclarify
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
  flyway:
    baseline-on-migrate: true
    baseline-version: 1
    baseline-description: "Existing schema baseline"
    enabled: true
    locations: classpath:flyway/sql

app:
  upload-dir: uploads

logging:
  level:
    root: INFO
